.UserDetail {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    padding: 1.6rem 1.2rem;
}

.UserDetail_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UserDetail_info img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.UserDetail_name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
}

.UserDetail_email {
    font-size: 1.6rem;
    color: var(--gray-500);
}

.UserDetail_actions {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
