.IconInput {
    display: flex;
    padding: 1rem 1.2rem;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid var(--gray-400);
    column-gap: 0.8rem;
    transition: border 0.3s;
}

.IconInput:focus-within {
    border: 1px solid var(--primary-700);
}

.IconInput input {
    font-size: 1.6rem;
}
